/* =================================================================
breakpoints
================================================================= */

// Small devices
$screen-sm: 576px;
// Small tablets (portrait)
$screen-md: 768px;
// Tablets and small desktops
$screen-lg: 992px;
// Large desktops
$screen-xl: 1200px;

$map-md: 900px;

* {
    margin: 0;
}

.map, .leaflet-container{
    height: 450px;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    @media all and (max-width: $map-md){
        max-width: none;
    }
}

.map-view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 80%;
    @media all and (max-width: $map-md){
        flex-direction: column-reverse;
    }
    &__legend{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        @media all and (max-width: $map-md){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        @media all and (max-width: $screen-sm) {
            display: flex;
        }
    }
}